{% import 'macros/buttons.jinja' as buttons %}

<div class="open">
    <div class="form-floating mb-3">
        {{ form.content(class_='content-field') }}
        {{ form.content.label }}
    </div>

    <div class="form-floating mb-3">
        {{ form.type(class_='form-select') }}
        {{ form.type.label }}
    </div>

    <div class="mb-3">
        {{ buttons.delete_button('Borrar pregunta', button_id) }}
    </div>
</div>