{% import 'macros/buttons.jinja' as buttons %}

<div class="options mb-3">
    <div class="form-floating mb-3">
            {{ form.content(class_='content-field') }}
            {{ form.content.label }}
    </div>

    <div class="form-floating mb-3">
        {{ form.score(class_='form-select') }}
        {{ form.score.label }}
    </div>

    <div class="mb-3">
        {{ buttons.delete_button('Borrar opción', button_id, class_='remove-option', render_icon=False)}}
    </div>
</div>