{% for form in page %}
    <tr>
        <td>
            {{ form.created_at }}
        </td>
        <td>
            {{ form.name }}
        </td>
        <td>
            {{ form.status }}
        </td>
        <td>
            <a href="{{ url_for('administrator_forms_controller.edit', form_id=form.id) }}" class="btn btn-sm btn-primary">
                Editar
            </a>
        </td>
    </tr>
{% endfor %}