{% import 'macros/modal.jinja' as modal %}

{% for form in page %}
    <tr>
        <td>
            {{ form.created_at }}
        </td>
        <td>
            {{ form.name }}
        </td>
        <td>
            {{ status(form) }}
        </td>
        <td>
            <a href="{{ url_for('administrator_forms_controller.edit', form_id=form.id) }}" class="btn btn-sm btn-primary">
                Editar
            </a>
        </td>
        <td>
            {% if form.status == 'open' %}
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="{{ '#form-url-modal-{}'.format(form.id) }}">
                    Ver
                </button>
            {% endif %}
        </td>
    </tr>

    {% if form.status == 'open' %}
        {{ modal.render('form-url-modal-{}'.format(form.id), 'URL público del formulario', url_for('guest_responses_controller.new', form_public_key=form.public_key, _external=True)) }}
    {% endif %}
{% endfor %}
