{% macro delete_button(button_text, button_id, render_icon=True) %}
    <button id="{{ random_hex() }}" class="btn btn-danger remove-question">
        {% if render_icon %}
            <i class="bi bi-trash-fill" style="font-size: 1.2rem"></i>
        {% endif %}

        {{ button_text }}
    </button>
{% endmacro %}