{% import 'macros/buttons.jinja' as buttons %}

{% macro render(form) %}
    {% for question in form.questions.data %}
        {% if question.type.data == 'open' %}
            {{ render_open_question(question) }}
        {% else %}
            {{ render_selection_question(question)}}
        {% endif %}
    {% endfor %}

    <button id="new-field-button" class="btn btn-primary">
        <i class="bi bi-plus" style="font-size: 1rem"></i>
        Agregar pregunta
    </button>
{% endmacro %}

{% macro read_only_form(form) %}
    {% for question in form.questions %}
	<div class="card mb-3">
	    <div class="card-body">
		<h5 class="card-title">
		    Pregunta {{ loop.index }}
		</h5>
		<h6 class="card-subtitle mb-2 text-body-secondary">
		    {{ question.content }}
		</h6>
		{% if question.type == 'selection' %}
		    <ul class="list-group list-group-flush">
			{% for option in question.options %}
			    <li class="list-group-item">{{ option.content }}</li>
			    <li class="list-group-item">Puntaje de riesgo: {{ score_to_text(option.score) }}</li>
			{% endfor %}
		    </ul>
		{% endif %}
	    </div>
	</div>
    {% endfor %}
{% endmacro %}

{% macro render_open_question(form) %}
    <div class="{{ field_class('open', form) }} mb-3">
        <div class="form-floating mb-3">
            {{ form.content(class_='content-field') }}
            {{ form.content.label }}
        </div>

        {% if form.id.data is none %}
            <div class="form-floating mb-3">
                {{ form.type(class_='form-select') }}
                {{ form.type.label }}
            </div>
        {% endif %}

        <div class="mb-3">
            {{ buttons.delete_button('Borrar pregunta') }}
        </div>
    </div>
{% endmacro %}

{% macro render_selection_question(form) %}
    <div class="{{ field_class('selection', form) }} mb-3">
        <div class="form-floating mb-3">
            {{ form.content(class_='content-field') }}
            {{ form.content.label }}
        </div>

        {% if form.id.data is none %}
            <div class="form-floating mb-3">
                {{ form.type(class_='form-select') }}
                {{ form.type.label }}
            </div>
        {% endif %}

        <div class="options-container ml-6">
            {% if form.options %}
                {% for option in form.options.data %}
                    {{ render_option(option) }}
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <button id="{{ button_id }}" class="btn btn-primary add-option mr-3">
                <i class="bi bi-plus" style="font-size: 1.2rem"></i>
                Agregar opción
            </button>

            {{ buttons.delete_button('Borrar pregunta') }}
        </div>
    </div>
{% endmacro %}

{% macro render_option(form) %}
    <div class="{{ field_class('options', form) }} mb-3">
        <div class="form-floating mb-3">
                {{ form.content(class_='content-field') }}
                {{ form.content.label }}
        </div>

        <div class="form-floating mb-3">
            {{ form.score(class_='form-select') }}
            {{ form.score.label }}
        </div>

        <div class="mb-3">
            {{ buttons.delete_button('Borrar opción', button_id, class_='remove-option', render_icon=False)}}
        </div>
    </div>
{% endmacro %}

{% macro render_guest_form(form) %}
    {% for question in form.questions %}
        {% if question.type == 'open' %}
            <div class="form-floating mb-3">
                <input type="hidden" id="open[{{ loop.index }}][question]" name="open[{{ loop.index }}]" value="{{ question.content }}">
                <input class="form-control" type="text" id="open[{{ loop.index }}]" name="open[{{ loop.index }}]"/>
                <label for="open[{{ loop.index }}]">{{ question.content }}</label>
            </div>
        {% else %}
            <div class="form-floating mb-3">
                <input type="hidden" id="selection[{{ loop.index }}][question]" name="selection[{{ loop.index }}]" value="{{ question.content }}" />
                <select class="form-select form-select-md" name="selection[{{ loop.index }}]" id="selection[{{ loop.index }}]">
                    {% for option in question.options %}
                        <option value='{"score": "{{ option.score }}", "response": "{{ option.content }}" }'>{{ option.content }}</option>
                    {% endfor %}
                </select>
                <label for="selection[{{ loop.index }}]">{{ question.content }}</label>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
