{% macro render_field(field) %}    
    {% if field.errors %}
        {{ field(class_='is-invalid', required=False) }}
        <ul class="no-bullets text-danger mt-2">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ field }}
    {% endif %}
    {{ field.label }}
{% endmacro %}

{% macro submit_button(value) %}
    <div class="d-flex justify-content-end mt-4 mb-0">
        <input id="login_button" type="submit" class="btn btn-primary" value="{{ value }}" />
    </div>
{% endmacro %}

{% macro search_form(endpoint, order_options) %}
    <form action="{{ url_for(endpoint) }}" method="get">
        <div class="d-flex flex-row align-items-center h-100">
            <label for="searchbox"></label>
            <div class="col-sm-2 mb-2 me-3">
                <input id="searchbox" name="search" type="text" class="form-control" placeholder="Buscar" aria-label="Search">
            </div>

            <div class="col-sm-1 mb-2 me-3">
                <select name="search_by" class="form-select form-select-md select-btn-primary" id="search-by-select" aria-label="Search by select">
                    <option value="">Buscar por...</option>
                    {% for value, option in order_options.items() %}
                        <option value="{{ value }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-2 mb-3 me-3">
                <label for="per-page-select">Elementos por página</label>
                <select name="per_page" class="form-select form-select-md mb-3" id="per-page-select" aria-label="Per page elements select">
                    <option value="20" selected>20</option>
                    <option value="15">15</option>
                    <option value="10">10</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="col-sm-2 mb-3 me-3">
                <label for="order-by-select">Ordenar por</label>
                <select name="order_by" class="form-select form-select-md mb-3" id="order-by-select" aria-label="Order by select">
                    {% for value, option in order_options.items() %}
                        <option value="{{ value }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-2 mb-3 me-3">
                <label for="order-method-select">En orden</label>
                <select name="order" class="form-select form-select-md mb-3" id="order-method-select" aria-label="Order by select">
    index.html                <option value="asc">Ascendente</option>
                    <option value="desc">Descendente</option>
                </select>
            </div>

            <div class="col-sm-1 justify-content-md-center mb-2 me-3">
                <input type="submit" class="btn btn-md btn-success" value="Buscar" />
            </div>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/search_form_controller.js') }}"></script>
{% endmacro %}