{% extends 'views/administrator/sqlite_exports/base.jinja' %}
{% import 'macros/breadcrumb.jinja' as breadcrumb %}
{% import 'macros/form.jinja' as form_renderer %}

{% block content %}
    <div class="container-fluid px-4 table-wrapper">
	<h1 class="mt-4">
	    Archivo sqlite
	</h1>
	{{ breadcrumb.render('Archivo sqlite', {url_for('sql_interpreter_uploads_controller.index'): 'Bases de datos'}) }}

	<div class="col-2 col-sm-8 align-self-start">
	    <form action="{{ url_for('sql_interpreter_controller.create', upload_id=upload.id) }}" method="post">
		<textarea id="sql-editor" name="sql" rows="5" cols="109">

		</textarea>
		{{ form_renderer.submit_button('Enviar') }}
	    </form>
	</div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='dist/main.bundle.js') }}"></script>
{% endblock %}
