{% extends 'views/administrator/reports/base.jinja' %}
{% import 'macros/breadcrumb.jinja' as breadcrumb %}


{% block content %}
    <div class="container-fluid px-4 table-wrapper">
	<h1 class="mt-4">
	    Reporte de formulario
	</h1>
	{{ breadcrumb.render('Reporte de formulario',
	    {url_for('administrator_forms_controller.index'): 'Formularios',
		url_for('administrator_forms_controller.edit', form_id=form.id): 'Editar formulario'}) }}

	<div class="row justify-content-start w-50 mb-3">
	    
	</div>
	<div class="card mb-4">
	    <div class="card-header">
		<i class="fas fa-table me-1"></i>
		Respuestas por puntaje
	    </div>
	    <div class="card-body">
		<table class="table table-striped">
		    <thead>
			<tr>
			    <th>
				Pregunta
			    </th>
			    <th>
				Nulo
			    </th>
			    <th>
				Bajo
			    </th>
			    <th>
				Medio
			    </th>
			    <th>
				Alto
			    </th>
			</tr>
		    </thead>
		    <tbody>
			{% for question, scores in score_counts.items() %}
			    <tr>
				<td>
				    {{ question }}
				</td>
				<td>
				    {{ scores['zero'] }}
				</td>
				<td>
				    {{ scores['low'] }}
				</td>
				<td>
				    {{ scores['medium'] }}
				</td>
				<td>
				    {{ scores['high'] }}
				</td>
			    </tr>
			{% endfor %}
		    </tbody>
		</table>
	    </div>
	</div>
    </div>
{% endblock %}
