{% extends 'views/master/users/base.jinja' %}
{% import 'macros/table.jinja' as table %}

{% block content %}
    <div class="container-fluid px-4 table-wrapper">
        <h1 class="mt-4">
            Usuarios
        </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Usuarios</li>
        </ol>
        {{ table.render_table('Usuarios registrados', users, 'users_controller.index',
                              'views/master/users/users_table.jinja',
                              { 'email': 'Correo electrónico', 'first_name': 'Nombre(s)', 'last_name': 'Apellido(s)' },
                              'Correo electrónico', 'Nombre(s)', 'Apellido(s)', 'Estado') }}
    </div>
{% endblock %}