{% extends 'views/master/users/base.jinja' %}
{% import 'macros/form.jinja' as form_renderer %}

{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Registrar usuario</h1>
    
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ url_for('users_controller.index') }}" >Usuarios</a></li>
            <li class="breadcrumb-item active">Registrar usuario</li>
        </ol>

        <div class="row justify-content-start w-50">
            <form action="{{ url_for('users_controller.create') }}" method="post" novalidate>
                {{ form.csrf_token }}
                
                <div class="form-floating mb-3">
                    {{ form_renderer.render_field(form.email) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_renderer.render_field(form.first_name) }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_renderer.render_field(form.last_name) }}
                </div>

                <div class="d-flex justify-content-end mt-4 mb-0">
                    <input id="create_user_button" type="submit" class="btn btn-primary" value="Registrar"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}