{% extends 'views/master/forms/base.jinja' %}
{% import 'macros/breadcrumb.jinja' as breadcrumb %}
{% import 'macros/custom_form.jinja' as custom_form %}

{% block content %}
    <div class="container-fluid px-4">
	<h1 class="mt-4">Ver formulario</h1>
        <h2 class="mt-4 mb-3">{{ form.name.data }}</h2>
        {{ breadcrumb.render('Ver formulario',
	    { url_for('master_forms_controller.index'): 'Formularios' }) }}
	
	<div class="row justify-content-start w-50 mb-3">
	    {{ custom_form.read_only_form(form) }}
	</div>
    </div>
{% endblock %}
